name: ci

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DESTDIR: ./bin

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 */6 * *' # every 6 days
  push:
    branches:
      - master
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - lint-cross
          - validate-generated-files
          - validate-gomod
          - validate-shfmt
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Run
        uses: docker/bake-action@v5
        with:
          targets: ${{ matrix.target }}

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - build
          - cross
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Run
        uses: docker/bake-action@v5
        with:
          targets: ${{ matrix.target }}

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.23"
          - "1.22"
          - "1.21"
        mode:
          - "root"
          - "noroot"
    env:
      GO_VERSION: ${{ matrix.go }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Test
        uses: docker/bake-action@v5
        with:
          targets: test-${{ matrix.mode }}
      -
        name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          directory: ${{ env.DESTDIR }}/coverage
          flags: unit,${{ matrix.mode }},go-${{ matrix.go }}
          token: ${{ secrets.CODECOV_TOKEN }}

  test-os:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - windows-latest
        go:
          - "1.23"
          - "1.22"
          - "1.21"
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      -
        name: Test
        run: |
          go test -coverprofile="coverage.txt" -covermode="atomic" ./...
          go tool cover -func="coverage.txt"
      -
        name: Upload coverage
        if: always()
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.txt
          env_vars: RUNNER_OS
          flags: unit,go-${{ matrix.go }}
          token: ${{ secrets.CODECOV_TOKEN }}

  test-bsd-amd64:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        os:
          - freebsd
          - netbsd
          - openbsd
    steps:
      -
        name: Prepare
        run: |
          echo "VAGRANT_FILE=hack/Vagrantfile.${{ matrix.os }}" >> $GITHUB_ENV
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Cache Vagrant boxes
        uses: actions/cache@v4
        with:
          path: ~/.vagrant.d/boxes
          key: ${{ runner.os }}-vagrant-${{ matrix.os }}-${{ hashFiles(env.VAGRANT_FILE) }}
          restore-keys: |
            ${{ runner.os }}-vagrant-${{ matrix.os }}-
      -
        name: Install vagrant
        run: |
          set -x
          sudo apt-get update
          sudo apt-get install -y libvirt-daemon libvirt-daemon-system vagrant vagrant-libvirt ruby-libvirt
          sudo systemctl enable --now libvirtd
          sudo chmod a+rw /var/run/libvirt/libvirt-sock
          vagrant plugin install vagrant-libvirt
          vagrant --version
      -
        name: Set up vagrant
        run: |
          ln -sf ${{ env.VAGRANT_FILE }} Vagrantfile
          vagrant up --no-tty
      -
        name: Test
        uses: nick-fields/retry@7152eba30c6575329ac0576536151aca5a72780e  # v3.0.0
        with:
          timeout_minutes: 20
          max_attempts: 5
          command: |
            vagrant ssh -- "cd /vagrant; go test -buildvcs=false -coverprofile=coverage.txt -covermode=atomic ./..."
            vagrant ssh -c "sudo cat /vagrant/coverage.txt" > coverage.txt
      -
        name: Upload coverage
        if: always()
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.txt
          flags: unit,${{ matrix.os }}
          token: ${{ secrets.CODECOV_TOKEN }}
